@{
  Layout = "_Layout";
}

@using GearObsession.Models
@model GearObsession.Models.User

<h2>User Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@foreach (var entry in ViewBag.testDict)
{
  <p>@entry.Key : @entry.Value oz</p>
}

@if (@Model.JoinEntities.Count == 0)
{
  <p>This user does not have any items yet!</p>
}
else
{
  <h4>Items assigned to this user:</h4>
  <ul>
  @foreach (ItemUser join in Model.JoinEntities)
    {
      <li>@join.Item.Brand | @join.Item.Name | @join.Item.Weight</li>
      @using (Html.BeginForm("DeleteItemFromUser", "Items"))
      {
        @Html.Hidden("joinId", @join.ItemUserId)
        @Html.Hidden("userId", Model.UserId)
        <input type="submit" value="Delete" class="btn btn-secondary" />
      }
    }
  </ul>
  <h5>Total Weight: @ViewBag.TotalWeight</h5>
}

<hr>

<p>@Html.ActionLink("Edit User", "Edit", new { id = Model.UserId }, new {@class = "btn btn-warning"})</p>
<p>@Html.ActionLink("Assign An Item", "AddItem", new { id = Model.UserId }, new {@class = "btn btn-secondary"})</p>
<p>@Html.ActionLink("Delete User", "Delete", new { id = Model.UserId, }, new {@class = "btn btn-danger"})</p>