@{
  Layout = "_Layout";
}

@model GearObsession.Models.User

<h2>Edit</h2>

<h4>Edit this user: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.UserId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>